body {
    width: 80%;
    min-height: 100%;
    margin: 0 auto;
    font-family: Arial, Helvetica, sans-serif;
}

nav {
    display: flex;
    justify-content: space-between;
}

.navTitle {
    display: flex;
    justify-content: end;
    align-items: center;

}

.navTitle > h2 {
    font-size: 50px;
    font-weight: bold;
}

.navTitle > h2 > span.travel {
    color: #ff5400;
}

.navTitle img {
    width: 80px;
    height: 60px;
}

nav > ul {
    list-style-type: none;
    display: flex;
    align-items: center;
}

nav > ul > li {
    padding: 20px;
    font-size: 20px;
    color: rgba(29, 27, 27, 0.664);
}

nav > ul  > li:hover {
    color: #ff5400;
    font-weight: bold;
}

/* navbar part done  */

.explorePart {
    padding: 10% 15%;
    background-image: url('/Images/explore.png');
    background-position: center center;
    background-repeat: no-repeat;
    background-size: cover;
    border-radius: 20px;
}

.explorePart > h2 {
    font-size: 70px;
    font-weight: bold;
    color: white;
    text-align: center;
}

.explorePart > p {
    font-size: 18px;
    color: white;
    text-align: center;
    padding: 0px 10%;
}

.exploreForm {
    display: grid;
    grid-template-columns: auto auto auto auto;
    gap: 40px;
    background-color: rgba(240, 248, 255, 0.315);
    padding: 20px;
    border-radius: 10px;
    justify-content: center;
}

.formItem {
    width: 220px;
    padding: 20px;
    border-radius: 10px;
    border: none;
    outline: none;
    font-size: 18px;
    box-sizing: border-box;
}

.exploreForm > button:hover {
    background-color: #ff5400;
    color: white;
    cursor: pointer;
}

/* explore part end  */


.popularTour {
    /* display: flex;
    justify-content: center;
    align-items: center; */
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    padding-top: 60px;
    gap: 150px;
}

.pTourTitle {
    font-size: 50px;
    font-weight: bold;
    line-height: 0%;
}

.pTourTextTop {
    font-size: 17px;
    padding-top: 20px;
    color: rgba(29, 27, 27, 0.664);
}

.pTourUl {
    font-size: 17px;
    color: rgba(29, 27, 27, 0.664);
    line-height: 30px;
}

.pTourItem {
    padding-top: 20px;
}

.pTourTextBottom {
    font-size: 17px;
    padding-top: 20px;
    padding-bottom: 20px;
    color: rgba(29, 27, 27, 0.664);
}

.pTourBtn {
    font-size: 20px;
    background-color: #ff5400;
    padding: 15px 30px;
    border: none;
    border-radius: 8px;
    color: white;
    cursor: pointer;
}

.pTourRight > img {
    width: 100%;
}