body {
    width: 80%;
    min-height: 100%;
    margin: 0 auto;
    font-family: Arial, Helvetica, sans-serif;
}

nav {
    display: flex;
    justify-content: space-between;
}

.navTitle {
    display: flex;
    justify-content: end;
    align-items: center;

}

.navTitle > h2 {
    font-size: 50px;
    font-weight: bold;
}

.navTitle > h2 > span.travel {
    color: #ff5400;
}

.navTitle img {
    width: 80px;
    height: 60px;
}

nav > ul {
    list-style-type: none;
    display: flex;
    align-items: center;
}

nav > ul > li {
    padding: 20px;
    font-size: 20px;
    color: rgba(29, 27, 27, 0.836);
}

nav > ul  > li:hover {
    color: #ff5400;
    font-weight: bold;
}

/* navbar part done  */

.explorePart {
    padding: 10% 15%;
    background-image: url('/Images/explore.png');
    background-position: center center;
    background-repeat: no-repeat;
    background-size: cover;
    border-radius: 20px;
}

.explorePart > h2 {
    font-size: 70px;
    font-weight: bold;
    color: white;
    text-align: center;
}

.explorePart > p {
    font-size: 18px;
    color: white;
    text-align: center;
    padding: 0px 10%;
}

.exploreForm {
    display: grid;
    grid-template-columns: auto auto auto auto;
    gap: 20px;
    background-color: rgba(240, 248, 255, 0.315);
    padding: 20px;
    border-radius: 10px;
}

.formItem {
    padding: 20px;
    border-radius: 10px;
    border: none;
    outline: none;
    font-size: 18px;
}

.exploreForm > button:hover {
    background-color: #ff5400;
    color: white;
}

